<h1>
  List of all movies
</h1>
<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <td></td>
  </tr>
  <% @list_of_movies.each do |film| %>
    <tr>
      <td><%= film.id %></td>
      <td>
        <%# <img src ="http://robohash.org/<%= film.name %>
        <img src =<%= film.image %>>
      </td>
      <td><%= film.title %></td>
      <td><%= film.year %></td>
      <td>
        <% d = Director.where({ :id => film.director_id }).first %>
        <%= d.name %>
      </td>
      <td>
        <a href="/movies/<%= film.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>